body {
  margin: 0;
  background: green;
  display: flex;
  flex-direction: row;
}
#viewer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex: 8;
}
#canvas {
  width: 100%;
  height: 100%;
}
.controls {
  flex: 1;
  background: #eee;
  border-left-width: 1px;
  border-left-color: #999;
  border-left-style: solid;
  display: flex;
  flex-direction: column;
}

.zoom {
  flex: 1;
  flex-direction: row;
  display: flex;
  max-height: 60px;
}

.zoom > button {
  flex: 1;
  margin: 10px;
  background-color: #877eff;
  color: white;
  border: 3px solid #999;
}
.toggleBorder {
  flex: 1;
  flex-direction: row;
  display: flex;
  max-height: 60px;
}

.toggleBorder > button {
  flex: 1;
  margin: 10px;
  background-color: #c55c2c;
  color: white;
  border: 3px solid #999;
}
